<main>
    <div class="banner">
        <div class="image__baner">
            <img src="/assets/img/banner.svg" alt="logo">
        </div>
        <div class="text__baner">
            <div class="text__baner_position">
                <h3 class="title__baner">Начните <span class="selected">обучаться</span><br> уже <span
                        class="selected">сейчас</span></h3>
                <p class="description">Освойте новые профессии или углубите знания в своей области с нашими курсами.
                    Экспертные преподаватели, <span class="selected selected__text">широкий выбор тем</span>,
                    актуальные знания и сертификаты. Присоединяйтесь к нам и <span
                        class="selected selected__text">начните свой путь к успеху</span> уже сегодня!</p>
            </div>
        </div>
    </div>
    <div class="conteiner conteiner__faq">

        <h1 class="title title__menu title__menu_faq">Информация о нашем сайте</h1>
        <div class="about__faq">
            <p>Добро пожаловать в мир Courses - вашего надежного партнера в путешествии по миру программирования! Наш сайт - это не просто площадка для продажи курсов по программированию. Это целый университет знаний, где каждый может найти что-то ценное для себя, будь вы начинающий или опытный разработчик. Давайте расскажем вам о том, что делает наш сайт особенным и почему он стоит вашего внимания.</p>
        <li>Разнообразие курсов:</li>
        <p>Мы гордимся тем, что предлагаем широкий выбор курсов по программированию, охватывающих все от основ до продвинутых тем. Независимо от вашего уровня подготовки или ваших целей, у нас есть курсы, чтобы помочь вам достичь своих целей. Начните с основ программирования, изучая языки, такие как Python, Java, или JavaScript, или углубитесь в специализированные области, такие как веб-разработка, машинное обучение, или разработка мобильных приложений. У нас есть курсы для всех!</p>
        <li>Качество обучения</li>
        <p>Наша команда экспертов по программированию уделяет большое внимание качеству обучения. Каждый курс разработан с учетом лучших практик преподавания и структурирован таким образом, чтобы обеспечить максимальное усвоение материала. Мы стремимся сделать процесс обучения увлекательным, интерактивным и практичным, чтобы вы могли максимально эффективно использовать ваше время и достигать результатов.</p>
        <li>Поддержка сообщества:</li>
        <p>Мы верим в силу сообщества, и наш сайт предлагает уникальные возможности для общения и сотрудничества с другими учащимися и профессионалами в отрасли. Наши форумы обсуждения, группы обучения и возможности сетевого взаимодействия помогут вам не только учиться, но и расширить свой кругозор и найти поддержку в вашем путешествии по программированию.</p>
        <li>Гибкий формат обучения:</li>
        <p>Мы понимаем, что каждый ученик уникален, и поэтому предлагаем гибкие форматы обучения, чтобы соответствовать вашему стилю и ритму жизни. Наши курсы доступны онлайн, 24/7, что позволяет вам изучать материал в удобное для вас время и темп. Кроме того, мы предлагаем различные варианты обучения, включая видеоуроки, интерактивные задания, онлайн-лекции и многое другое, чтобы вы могли выбрать оптимальный подход к вашему обучению.</p>
        <li>Постоянное обновление и поддержка</li>
        <p>Мир программирования постоянно меняется, и мы гарантируем, что наши курсы всегда актуальны и соответствуют последним тенденциям и технологиям. Наша команда постоянно работает над обновлением материалов и добавлением новых курсов, чтобы вы могли быть в курсе всех изменений в индустрии. Кроме того, мы предоставляем надежную техническую поддержку, чтобы помочь вам в случае возникновения вопросов или проблем.</p>
        </div>
    </div>
</main>